body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 16px;
}

body {
    color: orange;
  }
  
.container {
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    display: flex;   
    flex-wrap: wrap;
}

  .col-xs-1 {
    flex-basis: 8.33333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

.col-xs-2 {
    flex-basis: 16.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-3 {
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-4 {
    flex-basis: 33.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: center
}
.col-xs-5 {
    flex-basis: 41.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-6 {
    flex-basis: 50%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-7 {
    flex-basis: 58.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-8 {
    flex-basis: 66.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-9 {
    flex-basis: 75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-10 {
    flex-basis: 83.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-11 {
    flex-basis: 91.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-xs-12 {
    flex-basis: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-md-1 {
    flex-basis: 8.33333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

.col-md-2 {
    flex-basis: 16.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-3 {
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-4 {
    flex-basis: 33.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: center
}
.col-md-5 {
    flex-basis: 41.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-6 {
    flex-basis: 50%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-7 {
    flex-basis: 58.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-8 {
    flex-basis: 66.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-9 {
    flex-basis: 75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-10 {
    flex-basis: 83.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-11 {
    flex-basis: 91.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-md-12 {
    flex-basis: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-sm-1 {
    flex-basis: 8.33333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

.col-sm-2 {
    flex-basis: 16.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-3 {
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-4 {
    flex-basis: 33.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: center
}
.col-sm-5 {
    flex-basis: 41.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-6 {
    flex-basis: 50%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-7 {
    flex-basis: 58.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-8 {
    flex-basis: 66.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-9 {
    flex-basis: 75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-10 {
    flex-basis: 83.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-11 {
    flex-basis: 91.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-sm-12 {
    flex-basis: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-lg-1 {
    flex-basis: 8.33333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

.col-lg-2 {
    flex-basis: 16.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-3 {
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-4 {
    flex-basis: 33.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: center
}
.col-lg-5 {
    flex-basis: 41.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-6 {
    flex-basis: 50%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-7 {
    flex-basis: 58.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-8 {
    flex-basis: 66.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-9 {
    flex-basis: 75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-10 {
    flex-basis: 83.3333333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-11 {
    flex-basis: 91.6666666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col-lg-12 {
    flex-basis: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.header {
    display: flex;
}

 a {
     color: black;
     text-decoration: none;
     padding-left: 8px;
     padding-right: 8px;
 }

.clic {
    text-transform: uppercase;
    background: #ff153d;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-weight: bold;
    width: 200px;
}

.subscribe {
text-align: center;
}

  .menu {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    flex-wrap: wrap;

}

main {
    background-color: #f3dde1;
    position: relative;
    height: 550px;
    max-width: 100%;
}

.back {
    background-image: url(img/Rectangle11.png);
    background-repeat: no-repeat;
    height: 580px;
    width: 784px;
    position: relative;
    bottom: 78.5%;
    background-image: none;
}
.intone {
    margin-left: 84px;
}

.fonttext {
    font-size: 16px;
    line-height: 24px;
    font-style: regular;
    margin-bottom: 38px;

}

.logo {
    
    flex-grow: 1;
    padding-top: 1,5;
}

.color {
    display: flex;
  }

.com {
    display: flex;
    justify-content: flex-start;
  }

.contact {
    display: flex;
  }

header {
    display: flex;
    padding-top: 45px;
    padding-bottom: 70px;
  }

h2 {
    text-transform: uppercase;
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
  }

 .features .container .row .col-xs-12 h2 {
    margin-bottom: 90px;
 }

h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 138px;
  } 
 
  h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
  }

  .reviews {
      text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 26px;
    margin-bottom: 58px;
  }

  .center {
    text-align: center;
  }

.add-on {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff153d;
    color: white;
    font-size: 16px;
    width: 120px;
    text-align: center;
}

.contact {
    justify-content: flex-start;
   
    padding-right: 85px;
    padding-left: 200px;
    margin-top: 36px;
    
}

.input {
    height: 50px;
}

.color {
    text-align: center;
}
 
.colortext {
    color: #ff153d;
}

span {
    background-image: url(img/12.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.red {
    color: #ff153d;
    margin-top: 16px;
}
.Unique {
    position: relative;
    top: 80px;
}

.in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.text {
    line-height: 21px;
    margin-top: 24px;
}

.features {
    background-color: white;
    padding-bottom: 100px;
    padding-top: 110px;
}

.Details {
    background-color: #f2f2f2;
    padding-bottom: 146px;
    padding-top: 135px;
}
.det {
    margin-bottom: 40px;
    margin-top: 28px;
}

.features {
    background-color: white;
    padding-bottom: 100px;
}           

.Benefits {
    background-color: white;
    padding-bottom: 150px;
    padding-top: 156px;
}

ol {
   margin-top: 22px;
    list-style-position: inside;
    margin-left: -40px;
    margin-bottom: 38px;
}

li {
    margin-top: 20px;
    line-height: 24px;
}

.Products {
    background-color: #f2f2f2;
    padding-bottom: 100px;
    padding-top: 110px;
}

.positionproduct {
    position: relative;
    
}

.imgtext {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 110px;
    margin-left: -100px;
}

.color {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 126px;
    margin-left: -100px;
}

.color img {
    margin-right: 8px;
}

ul li {
    list-style-type: none; 
}
  ul {
      text-align: center;
      
  }

  .reviews .container .row .col-xs-12 .colortext {
    color: #ff153d;
    background-image: url(img/13.png);
  }

  .reviews .container .row .col-xs-12 h2 {
    padding-top: 110px;
  }

  h3 {
      
      
      font-size: 18px;
      
  }

  .reviews {
      padding-bottom: 100px;
      background-color: white;
  }

  .featured {
    background-color: #f2f2f2;
    padding-bottom: 100px;
    padding-top: 114px;
  }

  .brends {
margin-right: 85px;
padding-top: 55px;
  }

  .subscribe {
      padding-top: 110px;
      padding-bottom: 100px;
  }

  

  .subscribe {
    background-color: white;
    padding-bottom: 100px;
  }

  .contacts {
    background-color: #f3dde1;
    padding-bottom: 100px;
    position: relative;
    padding-top: 180px;
  }

  .back2 {
    background-image: url(img/Rectangle12.png);
    background-size: 792px 580px;
    height: 580px;
    width: 792px;
    background-repeat: no-repeat;
    
    position: absolute;
    top: 0%;
    right: 0%;
    
  }

  .logo2 {
      margin-left: 105px;
  } 

  .com1 {
      padding-top: 30px;
      
  }

  .com {
      padding-top: 25px;
      display: flex;
  }

  .com2 {
    padding-top: 25px;
    display: flex;
}

.com div {
    margin-right: 20px;
}
 
.info1 div {
    margin-right: 30px;
}

.info2 div {
    margin-right: 23px;
}

.info3 div {
    margin-right: 20px;
}

.footer {
    padding-top: 50px;
}

footer {
    padding-bottom: 50px;
}

p {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

.ellipse2 {
    border: 1px solid #fff; 
    background: #ffbfcc; 
    width: 43px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    display: flex;
}

.logofooter {
    color: white;
    position: relative;
    z-index: 5;
}

@media (min-width: 768px) {
    body {
      color: black;
    }
  
    
  }

  @media (min-width: 992px) {
    body {
      color: green;
    }
    
  }

  @media (min-width: 1200px) {
    body {
      color: blue;
    }
  
  }

  @media (min-width: 576px) {

    .container {
        max-width: 540px;
      }
    
    .col-sm-1 {
        flex-basis: 8.33333333333%;
       
      }
    
    .col-sm-2 {
        flex-basis: 16.6666666667%;
        
    }
    .col-sm-3 {
        flex-basis: 25%;
       
    }
    .col-sm-4 {
        flex-basis: 33.3333333333%;
       
    }
    .col-sm-5 {
        flex-basis: 41.6666666667%;
      
    }
    .col-sm-6 {
        flex-basis: 50%;
       
    }
    .col-sm-7 {
        flex-basis: 58.3333333333%;
        
    }
    .col-sm-8 {
        flex-basis: 66.6666666667%;
        
    }
    .col-sm-9 {
        flex-basis: 75%;
       
    }
    .col-sm-10 {
        flex-basis: 83.3333333333%;
     
    }
    .col-sm-11 {
        flex-basis: 91.6666666667%;
       
    }
    .col-sm-12 {
        flex-basis: 100%;
       
    }
  }

  @media (min-width: 768px) {

    container {
        max-width: 720px;
      }
    
    .col-md-1 {
        flex-basis: 8.33333333333%;
       
      }
    
    .col-md-2 {
        flex-basis: 16.6666666667%;
        
    }
    .col-md-3 {
        flex-basis: 25%;
       
    }
    .col-md-4 {
        flex-basis: 33.3333333333%;
       
    }
    .col-md-5 {
        flex-basis: 41.6666666667%;
      
    }
    .col-md-6 {
        flex-basis: 50%;
       
    }
    .col-md-7 {
        flex-basis: 58.3333333333%;
        
    }
    .col-md-8 {
        flex-basis: 66.6666666667%;
        
    }
    .col-md-9 {
        flex-basis: 75%;
       
    }
    .col-md-10 {
        flex-basis: 83.3333333333%;
     
    }
    .col-md-11 {
        flex-basis: 91.6666666667%;
       
    }
    .col-md-12 {
        flex-basis: 100%;
       
    }
  }

  @media (min-width: 991px) {

    .container {
        width: 1170px; 
        margin-left: auto;
        margin-right: auto;
      }
    
    .col-lg-1 {
        flex-basis: 8.33333333333%;
       
      }
    
    .col-lg-2 {
        flex-basis: 16.6666666667%;
        
    }
    .col-lg-3 {
        flex-basis: 25%;
       
    }
    .col-lg-4 {
        flex-basis: 33.3333333333%;
       
    }
    .col-lg-5 {
        flex-basis: 41.6666666667%;
      
    }
    .col-lg-6 {
        flex-basis: 50%;
       
    }
    .col-lg-7 {
        flex-basis: 58.3333333333%;
        
    }
    .col-lg-8 {
        flex-basis: 66.6666666667%;
        
    }
    .col-lg-9 {
        flex-basis: 75%;
       
    }
    .col-lg-10 {
        flex-basis: 83.3333333333%;
     
    }
    .col-lg-11 {
        flex-basis: 91.6666666667%;
       
    }
    .col-lg-12 {
        flex-basis: 100%;
       
    }
  }

  .col .col-xs-6 .zero {
      display: none;
  }